<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HNGi7 Leaderboard</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div>
            <img src="" alt="">
        </div>
    </header>
    <div class="table-data-container">
        <table>
            <thead>
                <tr>
                    <th>S/N</th>
                    <th class="names">FULL NAME</th>
                    <th class="username">USERNAME</th>
                    <th class="email">EMAIL</th>
                    <th class="poimnnts">TOTAL POINTS</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>1.</th>
                    <td>John Doe</td>
                    <td>@JohnDoe</td>
                    <td>JohnDoe@gmail.com</td>
                    <td>39</td>
                </tr>
                <tr>
                    <th>2.</th>
                    <td>Paul Oluwabukunmi</td>
                    <td>@paul</td>
                    <td>paulshotolu@gmail.com</td>
                    <td>24</td>
                </tr>
                <tr>
                    <th>3.</th>
                    <td>Joseph Kalu</td>
                    <td>@bigjoe</td>
                    <td>mrjosephkalu@gmail.com</td>
                    <td>23</td>
                </tr>
                <tr>
                    <th>4.</th>
                    <td>Jane Doe</td>
                    <td>@jane</td>
                    <td>janedoe@gmail.com</td>
                    <td>18</td>
                </tr>
                <tr>
                    <th>5.</th>
                    <td>Dikamsi Young</td>
                    <td>@dikamsi</td>
                    <td>youngudochi15@gmail.com</td>
                    <td>19</td>
                </tr>
                <tr>
                    <th>6.</th>
                    <td>Juliana Orji</td>
                    <td>@juliaorji</td>
                    <td>julianamonday@gmail.com</td>
                    <td>18.5</td>
                </tr>
                <tr>
                    <th>7.</th>
                    <td>Ishola Ibrahim</td>
                    <td>@he-bro</td>
                    <td>dami4biz@gmail.com</td>
                    <td>17</td>
                </tr>
                <tr>
                    <th>8.</th>
                    <td>Alison Udeme</td>
                    <td>@alison</td>
                    <td>alisonudeme99@gmail.com</td>
                    <td>17</td>
                </tr>
                <tr>
                    <th>9.</th>
                    <td>Raphael Okojie</td>
                    <td>@Raf</td>
                    <td>raef.joseph@gmail.com</td>
                    <td>10</td>
                </tr>
                <tr>
                    <th>10.</th>
                    <td>Praise Ajayi</td>
                    <td>@praiseAj</td>
                    <td>praiseajayi2@gmail.com</td>
                    <td>9</td>
                </tr>
                <tr>
                    <th>11.</th>
                    <td>Olowookere Feranmi</td>
                    <td>@Master</td>
                    <td>feranmiolowo15@gmail.com</td>
                    <td>8</td>
                </tr>
                <tr>
                    <th>12.</th>
                    <td>Emmanuel Chukwu</td>
                    <td>@officialemeka</td>
                    <td>chukwuemmanuel@gmail.com</td>
                    <td>7</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>